@model TestCard.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@using (Html.BeginForm())
{
    <div id="register" class="x-shadow">
        <h3>@GeneralResource.RegistrationRequest</h3>
        @Html.EditorForModel()
        <div class="x-actions">
            <input type="submit" value="@GeneralResource.Register" />
            @Html.ActionLink(GeneralResource.Cancel, "Login")
        </div>
    </div>
}
