@model TestCard.Web.Models.PersonModel

<div class="x-form-container">
    <span class="header">@GeneralResource.User</span>
    <div class="top-actions">
        @Html.ActionLink(GeneralResource.Back, "List")
    </div>
    <div class="form-inner">
        @Html.DisplayForModel()

        @{ Html.RenderPartial("_RequestActions", new TestCard.Web.Models.RequestActionsModel
            {
                Action = "ProcessRequest",
                Controller = "PersonChangeRequest",
                RequestID = Model.PersonChangeRequestID.Value
            }); }
    </div>
</div>
