@{
    ViewBag.Title = "List";
}
<p>
    @{ Html.RenderPartial("_ActionBar", new List<TestCard.Web.Models.ActionButton>
       {
           new TestCard.Web.Models.ActionButton { 
               Type = ActionButton.ActionType.Add, 
               Text = GeneralResource.Add,
               Url = "/Company/Add"
           }
       }); }
</p>
@{ Html.RenderAction("Company", "List"); }