@model TestingStep

<tr>
    <td>
        @Html.DisplayFor(x => Model.TestingStepName)
    </td>
    @for (var j = 0; j < Model.TestingSubSteps.Count; j++)
    {
        <td@(Model.TestingSubSteps.Count == 2 && Model.TestingSubSteps.Count == (j + 1) ? " colspan=3" : string.Empty)>
            <div class="step">
                <div>@Html.CheckBoxFor(x => Model.TestingSubSteps[j].IsChecked, new { disabled = "disabled" })
                </div>
                <div>
                    @Html.LabelFor(x => Model.TestingSubSteps[j].IsInvalid, Model.TestingSubSteps[j].TestingSubStepName)
                </div>
                <div>
                    @Html.CheckBoxFor(x => Model.TestingSubSteps[j].IsInvalid, new { disabled = "disabled" })
                </div>
            </div>
        </td>
    }
</tr>
