@model AjaxListModel

<div class="x-list-wrapper" id="@Model.ActionName">
    @{ 
        if (Model.RouteValues != null)
        {
            Html.RenderAction(Model.ActionName, Model.ControllerName ?? "List", Model.RouteValues);
        }
        else
        {
            Html.RenderAction(Model.ActionName, Model.ControllerName ?? "List");
        }
    }
</div>
