@model IEnumerable<TestCard.Web.Models.ActionButton>
<div class="x-form-actions">
    @foreach (var item in Model)
    {
        @Html.ActionLink(" ",
            item.Action ?? item.Type.ToString(),
            item.Controller,
            new { @id = item.ObjectID },
            new
            {
                @class = "btn " + item.Type.ToString().ToLower(),
                title = item.Text ?? TestCard.Domain.Helpers.EnumHelper.GetDescription(item.Type)
            })
    }
</div>
