<div class="x-mult-upload">
    <div class="actions">
        <a href="#" class="add-more">@GeneralResource.PlusMore</a>
    </div>
    <div class="files">
        <input type="file" name="files" />
        <input type="file" name="files" />
        <input type="file" name="files" />
        <input type="file" name="files" />
    </div>
</div>
