@model TestCard.Web.Models.RequestActionsModel
<td class="action-cell">
    <div class="x-list-actions">
        @Html.ActionLink(" ", "View", Model.Controller, new { @id = Model.RequestID }, new { @class = "btn details", title = GeneralResource.Details })
        @if (ViewBag.AccountType != TestCard.Domain.AccountTypes.Operator)
        {

            using (Html.BeginForm(Model.Action, Model.Controller, new { @id = Model.RequestID, status = (int)TestCard.Domain.ConfirmStatuses.Approved }, FormMethod.Post))
            {
            <input type="submit" value="" class="btn approve" title="@GeneralResource.Approve" />
            }
            using (Html.BeginForm(Model.Action, Model.Controller, new { @id = Model.RequestID, status = (int)TestCard.Domain.ConfirmStatuses.Rejected }, FormMethod.Post))
            {
            <input type="submit" value="" class="btn reject" title="@GeneralResource.Reject" />
            }
        }
    </div>
</td>
