@model TestCard.Web.Models.PersonModel

@{
    ViewBag.Title = "View";
}
<div class="x-form-container">
    <span class="header">@GeneralResource.User</span>
    <div class="top-actions">
        @Html.ActionLink(GeneralResource.Back, "List")
        @Html.ActionLink(GeneralResource.WorkSchedule, "View", "PersonSchedule", new { id = Model.PersonID }, null)
    </div>
    <div class="form-inner">
        @Html.DisplayForModel()
    </div>
</div>
