@model TestCard.Web.Models.PersonScheduleModel

@{
    ViewBag.Title = "View";
}
<div class="x-form-container">
    <span class="header">@GeneralResource.WorkSchedule</span>
    <div class="top-actions">
        @Html.ActionLink(GeneralResource.Back, "View", "Person", new { id = Model.PersonID }, null)
    </div>
    <div class="form-inner">
        @Html.DisplayForModel()
    </div>
</div>
